body { 
    margin: 0; 
    padding: 0; 
}
header {  
    background: rgb(47, 228, 158); 
    height: 80px; 
}
section {
    max-width: 900px;
    margin: auto; 
}
.navRight { 
    margin: 30px auto; 
    float: right;
    font-size: 22px; 
    margin-top: 22px; 
    margin-right: 20px;
    font-family:  Helvetica;  
}
.logo { 
    float: left; 
    margin: 20px; 
    color: white; 
    text-decoration: none;  
    font-size: 20px; 
    font-weight: 900; 
    font-family: Arial, Helvetica, sans-serif; 
}
nav a { 
    padding: 7px;  
}
.image-container { 
    max-width: 900px;
    margin: auto; 
}
.cat-image { 
    max-width: 900px;
    margin: auto; 
    position: absolute; 
    z-index: 1; 
    height: 300px; 
}

.title-box {
    background-color: rgb(55, 78, 116); 
    height: 305px; 
}
.title-text { 
    float: right;
    text-align: center;  
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px; 
    font-size: 36px; 
    margin-right: 10px; 
}
.cats-section { 
    background: #FFD166; 
    padding-bottom: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
    
}
.cats-title { 
    margin-top: 0; 
    padding-left: 30px; 
    padding-top: 60px;
    font-weight: 900; 
    font-size: 22px;  
}
.cats-text { 
    margin: 30px;
    font-size: 21px;  
    margin-bottom: 40px; 
}
.product-section { 
    padding-top: 30px; 
    padding-bottom: 50px; 
    background: rgb(250, 249, 249);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 200px;  
    font-size: 21px; 
    margin-bottom: 0; 

}
.product-title { 
    margin-left: 30px; 
}
.product-section p { 
    margin-left: 30px; 
}
.product-image { 
    height: 260px; 
    width: 260px; 
    border: 3px solid black;
    margin-left: 23px;  
    margin-top: 20px; 
}
.final-section { 
    background: #26547C; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 40px; 
}
.final-list { 
    list-style: none; 
    text-align: center; 
    display: grid; 
    grid-template-rows: 1; 
    grid-template-columns: 33.33% 33.33% 33.33%; 
    margin-top: 0; 
}
.final-list li { 
    margin-top: 40px; 
    margin-bottom: 0;
    color: #EF476F; 
    font-weight: 900; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px; 
}
.final-p p {
    font-size: 21px;  
    padding-left: 30px; 
    margin-top: 0; 
}
.final-p p:nth-child(1) { 
    padding-top: 30px;
}
footer {  
    background:  rgb(47, 228, 158); 
    height: 80px;
    margin-bottom: 0;   
}
footer p {  
    float: right; 
    font-size: 30px; 
    padding-bottom: 2px; 
    margin-right: 25px; 
    font-family: Arial, Helvetica, sans-serif; 
}

